body {
    /*Selectors
            Simple selectors(#id, .class, element), 
            attribute selectors([]) 
            pseudo selectors,
            combine selectors
        */
    form

{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: maroon;
}

fieldset {
    width: 400px;
}

input[type] {
    width: 150px;
}

.Field {
    background-color: aqua
}

#query {
    background-color: coral
}

#contact {
}

span {
    color: red
}

input:valid {
    border-color: forestgreen
}

input:invalid {
    border-color: red
}

a:visited {
    color: forestgreen;
}

a {
    color: deepskyblue
}
}
