@model RestaurantReviewWeb.Models.Review

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- REVIEW ADD VIEW -->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <h3 align="center">Your review was successfully added to @TempData["rName"]</h3>
</body>
</html>
