@model RestaurantReviewWeb.Models.Restaurant

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h3 align="center">Your restaurant was successfully deleted from the website! </h3>
</body>
</html>
